<template>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>{{ footer }}</p>
      </footer>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Footer',
    data: function() {
      return {
        footer: 'All Servers are managed here'
      }
    }
  }
</script>