<template>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul class="list-group">
        <app-server v-for="index in 5" :index='index'></app-server>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>Server Details are currently {{ statusMsg }}</p>
    </div>
  </div>
</template>

<script>
  import Server from './Server.vue'

  export default {
    name: 'Servers',
    components: {
      'app-server': Server
    },
    data: function() {
      return {
        updated: false
      }
    },
    computed: {
      statusMsg: function() {
        return this.updated ? 'updated' : 'not updated';
      }
    }
  }
</script>